@page "/Friends"
@using DTO
@using Frontend.Services.Interfaces
@using Frontend.Components.Shared
@inject IUserFriendsService UserFriendsService
@inject IJSRuntime JSRuntime

<h3>All Friends</h3>

<div class="container">
  <div class="row mb-3">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form @onsubmit="AddFriend">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" @bind="newFriendUsername"
                     required/>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Add Friend</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    @foreach (var friend in userFriends)
    {
      <div class="col-12 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">@friend.User.Username</h5>
            <h4 class="card-title">@friend.LatestCheckIn</h4>
            <button class="btn btn-danger" @onclick="() => RemoveFriend(friend.User.Username)">Remove</button>
          </div>
        </div>
      </div>
    }
  </div>
</div>

<YesNoPopup Title="Confirm" Message="@yesNoMessage" OnYes="AddFriendConfirm"/>
<YesNoPopup Title="Confirm" ModalId="confirmRemove" Message="@yesNoMessage" OnYes="() => RemoveFriendConfirm()"/>
<OkPopup Title="Success" Message="@okMessage"/>

@code {
  private List<UserWithLatestCheckIn> userFriends = new List<UserWithLatestCheckIn>();
  private string newFriendUsername;
  private string okMessage;
  private string yesNoMessage;
  private string userToRemove;

  protected override async Task OnInitializedAsync()
  {
    userFriends = await UserFriendsService.GetFriends();
  }

  private async Task AddFriend()
  {
    yesNoMessage = $"Are you sure you want to add {newFriendUsername} as friend?";
    await JSRuntime.InvokeVoidAsync("modalHelper.showModal", "yesNoModal");
  }

  private async Task AddFriendConfirm()
  {
    try
    {
      await UserFriendsService.CreateFriendship(newFriendUsername);
    }
    catch (Exception e)
    {
      okMessage = e.Message;
      await JSRuntime.InvokeVoidAsync("modalHelper.hideModal", "yesNoModal");
      await JSRuntime.InvokeVoidAsync("modalHelper.showModal", "okModal");
      await InvokeAsync(StateHasChanged);
      return;
    }

    userFriends = await UserFriendsService.GetFriends();
    okMessage = "Friend added successfully!";
    await JSRuntime.InvokeVoidAsync("modalHelper.hideModal", "yesNoModal");
    await JSRuntime.InvokeVoidAsync("modalHelper.showModal", "okModal");
    await InvokeAsync(StateHasChanged);
    
    
    newFriendUsername = "";
  }
  
  private async Task RemoveFriend(string username)
  {
    yesNoMessage = $"Are you sure you want to remove {username} as friend?";
    await JSRuntime.InvokeVoidAsync("modalHelper.showModal", "confirmRemove");
    userToRemove = username;
  }
  
  private async Task RemoveFriendConfirm()
  {
    await UserFriendsService.RemoveFriendship(userToRemove);
    userFriends = await UserFriendsService.GetFriends();
    okMessage = "Friend removed successfully!";
    await JSRuntime.InvokeVoidAsync("modalHelper.hideModal", "confirmRemove");
    await JSRuntime.InvokeVoidAsync("modalHelper.showModal", "okModal");
    userToRemove = "";
  }

}